<%- include('../templates/headerhome.ejs') %>
<section class="p1">
  <% if (data) { %>
  <div class="container-fluid product_view">
    <table class="table table-striped table-bordered">
      <thead>
        <td>ID</td>
        <td>PRODUCT CODE</td>
        <td>NAME</td>
        <td>DESCRIPTION</td>
        <td>PRICE</td>
        <td>QUANTITY</td>
        <td>MIN-QUANTITY</td>
        <td>DATE OF PROCUREMENT</td>
        <td>DATE OF ISSUE</td>
      </thead>
      <% data.forEach(function(dd){ %>
      <tr>
        <td><%= dd.id %></td>
        <td><%= dd.p_code %></td>
        <td><%= dd.p_name %></td>
        <td><%= dd.p_description %></td>
        <td><%= dd.p_price %></td>
        <td><%= dd.p_qty %></td>
        <td><%= dd.p_min_qty %></td>
        <td><%= dd.p_issue_date.toLocaleDateString() %></td>
        <td><%= dd.p_withdraw_date.toLocaleDateString() %></td>
      </tr>

      <% }) %>
    </table>
  </div>

  <% } %>
</section>

<%- include('../templates/footer.ejs') %>
